:local {
  /* stylelint-disable selector-class-pattern */
  .submenu + .arrow[data-align-bottom='true']::after {
    border-top-color: var(--terra-menu-submenu-background-color, #f9f9f9);
  }

  .divider {
    border-color: var(--terra-menu-divider-color, #dedfe0);
    border-style: solid;
    border-width: 1px 0 0;
    margin-top: 2px;

    &::after {
      border-color: var(--terra-menu-divider-shadow-color, #f9f9f9);
      border-style: solid;
      border-width: 3px 0 0;
      content: '';
      display: block;
      margin-bottom: 4px;
    }
  }

  .submenu .divider::after {
    border-color: var(--terra-menu-submenu-divider-shadow-color, #fff);
  }
}
