@import './variables';

:local {
  /* stylelint-disable selector-class-pattern */
  .header {
    background-color: var(--terra-menu-submenu-header-background-color);
    border-bottom: var(--terra-menu-submenu-header-border-bottom);
    width: 100%;

    .header-title {
      color: var(--terra-menu-submenu-header-title-color);
      font-size: var(--terra-menu-submenu-header-title-font-size);
      font-weight: normal;
      line-height: var(--terra-menu-submenu-header-title-line-height);
      margin: var(--terra-menu-submenu-header-title-margin);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: normal;
      word-wrap: normal;
    }

    .header-button {
      background: 0 0;
      border: 0;
      color: var(--terra-menu-submenu-header-buttons-icon-color);
      cursor: pointer;
      font-size: var(--terra-menu-submenu-header-buttons-icon-font-size);
      font-weight: bold;
      margin: var(--terra-menu-submenu-header-buttons-margin);
      padding: var(--terra-menu-submenu-header-buttons-padding);

      &:hover {
        color: var(--terra-menu-submenu-header-buttons-hover-color);
      }
    }


    &.fullscreen {
      background-color: var(--terra-menu-fullscreen-header-background-color);
      border-bottom: var(--terra-menu-fullscreen-header-border-bottom);

      .header-title {
        color: var(--terra-menu-fullscreen-header-title-color);
        font-size: var(--terra-menu-fullscreen-header-title-font-size);
        line-height: var(--terra-menu-fullscreen-header-title-line-height);
        margin: var(--terra-menu-fullscreen-header-title-margin);
      }

      .header-button {
        margin: var(--terra-menu-submenu-header-buttons-margin);
      }
    
    }

  }
}
